{% extends "gen_protocol/base.html" %}

{% block title %} Home page {% endblock %}
{%block navigation %}
{% endblock %}
{% block content %}
<div class="btn-group-vertical" margin:10>
    <form action="{% url 'new_order' %}">
        <input type="submit" class="btn btn-secondary" value=" Nowe zamówienie ">
    </form>
   <br>
    <form action="{% url 'generate_order_pdf'%}">
        <input type="submit" class="btn btn-secondary" value="Wydrukuj Zamówienie LM">
    </form>
    <br>
    <form action="{% url 'generate_pdf_order_todey'%}">
        <input type="submit" class="btn btn-secondary" value="Wydrukuj  ZWROTY">
    </form>
    <br>
    <form action="{% url 'generate_excel_order_todey' %}">
        <input type="submit" class="btn btn-secondary" value='Zapisz do EXCEL'>
    </form>
    <br>
    <form action="{% url 'admin:index' %}">
        <input type="submit" class="btn btn-secondary" value='      Admin       '>
    </form>
    
</div>  
{% endblock %}


