{% extends "gen_protocol/base.html" %}

{% block title %} New order {% endblock %}
{% block content %}
<form  action="{% url 'order_form' %}">
    {% csrf_token %}
    

    <div class="input-group mb-3" type="number", >
        <span class="input-group-text" id="inputGroup-sizing-default">Nr zamówienia:</span>
        <input name="nrorder", id="nrorder" type="number" class="form-control" required aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

    <select name="tape_of_delivery" id="tapydelivery"class="form-select" aria-label="Default select example" required>
        <option  disabled selected value="" >Sposób dostawy</option>
        <option value="P">Paleta</option>
        <option value="C">Paczka</option>
    </select>
    
    <br>
    <input class="btn btn-primary" type="submit" value="Kontynuować" id="continue">
    
</form>

<script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.6.0.min.js"> </script>
<script type="text/javascript" src="{{ STATIC_URL }} /static/js/saveorder.js"> </script>

{% endblock %}
