{% extends "gen_protocol/base.html" %}
{% block title %} Order form {% endblock %}

{% block content %}

<h4>Nr zamówienia: {{ nrorder }}</h4>
<form action="{% url 'order_form' %}">
    <input type="number", name="nrorder", value="{{ nrorder }}" , id="nrorder", hidden>

    <div class="input-group mb-3" type="number", >
        <span class="input-group-text" id="inputGroup-sizing-default">SKU/EAN:</span>
        <input type="number" name="sku" id="sku" autofocus="" class="form-control" required aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      
   
    <p id="p-text">Nazwa produktu : </p>
    
    <img id='imgproduct' height: 300px; width = 200px; src=''>
    
   
    <div class="input-group mb-3" type="number", >
        <span class="input-group-text" id="inputGroup-sizing-default">Ilość :</span>
        <input type="number", name="quantity" id="quantity",value=0  class="form-control" required aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
  


    <div class="input-group mb-3" type="number", >
        <span class="input-group-text" id="inputGroup-sizing-default">Ilość pełnowartościowa :</span>
        <input type="number" name="quantity_not_damaget" id="quantity_not_damaget",value="0" class="form-control" required aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

   
    <input type="submit" value="Kontynuować" id="next" class="btn btn-primary" >
   
   
</form>


<script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.6.0.min.js"> </script>
<script type="text/javascript" src="{{ STATIC_URL }} /static/js/skurequest.js"> </script>
<script type="text/javascript" src="{{ STATIC_URL }} /static/js/add_product_to_order.js"> </script>
<script type="text/javascript" src="{{ STATIC_URL }} /static/js/print_order_lm.js"> </script>


{% endblock %}

{%block navigation %}
  
<form action="{% url 'new_order' %}">
  <input type="submit" class="btn btn-secondary" value="Nowe zamówienie">
  </form>

<form action="{% url 'generate_pdf_lm'%}" target="_blank" >
  <input type="number", name="nrorder", value="{{ nrorder }}" , id="nrorder", hidden>
  <input type="submit" class="btn btn-secondary" value="Wydrukować" id="download">
</form>

{% endblock %}

 
  
